<!DOCTYPE html>

<html>
    <head>
        <title>Portfolio: user@richard</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src= "{{ url_for('static',filename='js/no_name_sorry.js') }}"></script>

        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>

    <body>
        <div class="typewriter">
            <h1><b>Hi! I'm Richard Correa</b> &#x1F44B;</h1>
        </div>

        <h2 class="CV"> Not a nerd? Get my latest CV <a href="/curriculum">here</a>!</h2>

        <div class='window'>
            <div class="window-head">
                <div></div>
                <div class='window-title'>user@richard:~</div>
                <div class='window-buttons'>
                    <div class='button'></div>
                    <div class='button'></div>
                    <div class='button' id="exit"></div>
                </div>
            </div>
                     
            <div class='terminal'>
                <div class='terminal-content'>
                    {% include 'components/welcome.html' %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>