@import url("https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic");

body{
    font-family: "PT Mono", monospace;
    font-size: 0.9rem;
    background-color: #264653;
    text-align: center;
    color: white;
}

a{
    color:white
}

h1{
    margin-top:5rem
}

.window {
    display: inline-block;
    margin-top: 1%;

    background-color: #2B2929;
    border-radius: 5px;
    
    width: 95%;
    height: 30rem;

    max-width: 50rem;
    max-height: 30rem;

    padding-top: 5px
}

.window .window-head{
    display: flex;
    justify-content: space-between;
}

.window .window-head .window-title{
    font-family: "PT Sans", monospace;
    font-size: 13px;
    margin-top: 0.5%;
    margin-left: 4rem;
    color: white;
}

.window .window-head .window-buttons{
    margin-top: 0.5%;
    margin-right: 10px;
}

.window .window-head .window-buttons .button{
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0px;
}

.window .window-head .window-buttons #exit{
    background-color:#E55F4B;
}

.window .terminal {
    color: white;
    background-color: #300A24;
    
    border-radius: 5px;

    max-width: 100%;
    height: 100%;

    overflow: scroll;
    overflow-x: hidden;
    margin-top:5px;
}

.window .terminal .terminal-content {
    margin: 0.5rem;
    padding: 0.1rem;
    text-align: left;
}

.window .terminal .terminal-content .user-input {
    font-family: "PT Mono", monospace;
    font-size: 0.8rem;
    width: 30rem;
    background: transparent;
    border: none;
    color:white;
    outline:none;
    display: inline;
}

.window .terminal .terminal-content .terminal-content-user{
    color:#85E135;
}

.window .terminal .terminal-content .terminal-content-separator{
    color:#729CC8;
    font-weight: bold;
}

.neofetch{
    font-family: "PT Mono";
    font-size: 0.9rem;
}