{% block content %}

<div>
    <p>
        I'm a Filipino born Spanish and Computer Science student with great curiosity and willing to learn new things. Highly interested in software development.</br></br>

        I consider myself as a commited, responsible and positive person, always looking to grow and improve day by day. 
        I believe that the most important thing in a professional carreer is to have motivation and willingness to learn to be able to give the best, 
        enhance skills and be productive.<br></br>
        
        I'm currently working on the Final Degree Project "Models for data prediction of a unit of uro-oncology", where Machine Learning techniques will be used for the prediction models.                                                                   
    </p>
</div>

{% endblock %}
{% include 'components/command_line.html' %}



