<pre class="neofetch">
            .-/+oossssoo+/-.               user@richard
        `:+ssssssssssssssssss+:`           ------------
      -+ssssssssssssssssssyyssss+-         OS: Ubuntu 20.04 LTS x86_64 (maybe...?)
    .ossssssssssssssssssdMMMNysssso.       Host: Dunno. Some Heroku server
   /ssssssssssshdmmNNmmyNMMMMhssssss/      Kernel: 5.4.0-37-generic???
  +ssssssssshmydMMMMMMMNddddyssssssss+     Uptime: 10 centuries
 /sssssssshNMMMyhhyyyyhmNMMMNhssssssss/    Packages: 6 or 7 from pip
.ssssssssdMMMNhsssssssssshNMMMdssssssss.   Shell: browser bash 1.0.0
+sssshhhyNMMNyssssssssssssyNMMMysssssss+   Resolution: <span id="width"><script>$('#width').html($(window).width());</script></span>x<span id="height"><script>$('#height').html($(window).height());</script></span>
ossyNMMMNyMMhsssssssssssssshmmmhssssssso   DE: N/A
ossyNMMMNyMMhsssssssssssssshmmmhssssssso   WM: I don't know
+sssshhhyNMMNyssssssssssssyNMMMysssssss+   WM Theme: Terminal
.ssssssssdMMMNhsssssssssshNMMMdssssssss.   Theme: This is a terminal so no themes
 /sssssssshNMMMyhhyyyyhdNMMMNhssssssss/    Icons: No icons
  +sssssssssdmydMMMMMMMMddddyssssssss+     Terminal: Ubuntuish terminal
   /ssssssssssshdmNNNNmyNMMMMhssssss/      Terminal Font: PT Mono
    .ossssssssssssssssssdMMMNysssso.       CPU: Casio FX-82MS
      -+sssssssssssssssssyyyssss+-         GPU: I want a NVIDIA GeForce GTX 3080 Ti
        `:+ssssssssssssssssss+:`           Memory: never ending
            .-/+oossssoo+/-.
                                                                   
</pre>
        
